#config-panel {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: fit-content;
  height: fit-content;
  transition: all ease-out 5s;
  visibility: hidden;
  filter: blur(50px);
  z-index: 9999;
  background-color: transparent;
  border-radius: 100rem;
  padding: 1.2rem;

  &.open {
    border-radius: 1.1rem;
    visibility: visible;
    filter: blur(0px);
    background-color: var(--color-zinc-900);
    box-shadow: -2mm -2mm 100mm rgb(160 0 210);
  }
}
