#config-panel {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 1rem 2rem;
  position: absolute;
  transition: all ease-out 0.2s;
  visibility: hidden;
  z-index: 9999;

  &.open {
    visibility: visible;
  }
}
